<template>
    <router-view></router-view>
</template>

<script>
    export default {
        name: "Sales.vue",
        created() {
            this.$store.dispatch("products/getProducts");
            this.$store.dispatch("sales/getSales");
        }
    }
</script>

<style scoped>

</style>
