<template>
    <div>
        <button type="button" class="button" @click="openModal">Actualizar facturación</button>

        <modal name="modal" :height="'600px'">
            <div class="modal-content">
                <div class="columns">
                    <div class="column is-8 has-margin-right-10 has-margin-left-10">
                        <h1 class="title">Registrar nuevo usuario</h1>
                        <form @submit.prevent="saveFacturacion">
                            <div class="field">
                                <label class="label">Inicio</label>
                                <input type="text" class="input" v-model="facturacion.initial">
                            </div>
                            <div class="field">
                                <label class="label">Iniciar desde</label>
                                <input type="number" class="input" v-model="facturacion.increment">
                            </div>
                            <div class="field">
                                <label class="label">Document</label>
                                <div class="select">
                                    <select v-model="facturacion.type">
                                        <option value="">--SELECCIONAR--</option>
                                        <option>BOLETA</option>
                                        <option>FACTURA</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="button is-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    export default {
        name: "ModalUpdateFacturacion",
        data() {
            return {
                facturacion: {
                    initial: '',
                    increment: 0,
                    type: ''
                }
            }
        },
        methods: {
            openModal() {
                this.$modal.show('modal');
            },
            saveFacturacion() {
                axios.post('/api/billing-codes', this.facturacion);
            }
        },
    }
</script>

<style scoped>

</style>
