<template>
    <div>
        <button type="button" class="button" @click="openModal">Nuevo usuario</button>

        <modal name="modal">
            <div class="modal-content">
                <div class="columns">
                    <div class="column is-8 has-margin-right-10 has-margin-left-10">
                        <h1 class="title">Registrar nuevo usuario</h1>
                        <form @submit.prevent="saveUser">
                            <div class="field">
                                <label class="label">Nombre</label>
                                <input type="text" class="input" v-model="newUser.name">
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <input type="text" class="input" v-model="newUser.email">
                            </div>
                            <div class="field">
                                <label class="label">Sucursal</label>
                                <div class="select">
                                    <select v-model="branch_id">
                                        <option value="">--SELECCIONAR--</option>
                                        <option :key="index" v-for="(branch, index) in branches" :value="branch.id">{{ branch.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
    export default {
        name: "ModalNewUser",
        data() {
            return {
                branches: [],
                newUser: {
                    name: '',
                    email: '',
                    branch_id: ''
                }
            }
        },
        methods: {
            openModal() {
                this.$modal.show('modal');
            },
            saveUser() {

            }
        },
        created() {
            axios.get('/api/branches').then( response => { this.branches = response.data.data })
        }
    }
</script>

<style scoped>

</style>
