<template>
    <div class="field">
        <input type="radio" name="report" @click="onRadioSelect">
        Desde:
        <div class="select is-small">
            <select v-model="from.year" @change="onChangeMonthFrom">
                <option :key="index" v-for="(year, index) in years" :value="year">{{ year }}</option>
            </select>
        </div>
        <div class="select is-small">
            <select v-model="from.month" @change="onChangeMonthFrom">
                <option :key="index" v-for="(month, index) in months" :value="index + 1">{{ month }}</option>
            </select>
        </div>
        <div class="select is-small">
            <select  v-model="from.day" @change="onChangeDayFrom">
                <option :key="index" v-for="(day, index) in daysFrom" :value="day">{{ day }}</option>
            </select>
        </div>
        Hasta:
        <div class="select is-small">
            <select v-model="to.year" @change="onChangeMonthTo">
                <option :key="index" v-for="(year, index) in years" :value="year">{{ year }}</option>
            </select>
        </div>
        <div class="select is-small">
            <select v-model="to.month" @change="onChangeMonthTo">
                <option :key="index" v-for="(month, index) in months" :value="index + 1">{{ month }}</option>
            </select>
        </div>
        <div class="select is-small">
            <select v-model="to.day" @change="onChangeDayTo">
                <option :key="index" v-for="(day, index) in daysTo" :value="day">{{ day }}</option>
            </select>
        </div>
    </div>
</template>

<script>
    let moment = require('moment');
    export default {
        name: "DateRange",
        data() {
            return {
                years: [],
                months: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                    'Octubre', 'Noviembre', 'Diciembre' ],
                daysFrom: [],
                daysTo: [],
                from: {
                    year: moment().year(),
                    month: moment().month() + 1,
                    day: moment().day() + 1
                },
                to: {
                    year: moment().year(),
                    month: moment().month() + 1,
                    day: moment().day() + 1
                }
            }
        },
        created() {
            for (let i = this.from.year; i > (this.from.year - 5); i--) {
                this.years.push(i);
            }

            this.onChangeMonthFrom();
            this.onChangeMonthTo();
        },
        methods: {
            onRadioSelect() {
                this.$emit('radioSelected');
            },
            onChangeMonthFrom() {
                let totalDaysInMonthFrom = moment(`${this.from.year}-${this.from.month}`, "YYYY-MM").daysInMonth();
                this.daysFrom = [];
                for (let i = 1; i <= totalDaysInMonthFrom; i++) {
                    this.daysFrom.push(i);
                }
                this.onChangeDayFrom();
            },
            onChangeMonthTo() {
                let totalDaysInMonthTo = moment(`${this.to.year}-${this.to.month}`, "YYYY-MM").daysInMonth();
                this.daysTo = [];
                for (let i = 1; i <= totalDaysInMonthTo; i++) {
                    this.daysTo.push(i);
                }
                this.onChangeDayTo();
            },
            onChangeDayFrom() {
                this.$emit('changeDateFrom', this.from);
            },
            onChangeDayTo() {
                this.$emit('changeDateTo', this.to);
            },
        },
    }
</script>

<style scoped>

</style>
