<template>
    <div class="column is-10">
        <nav aria-label="breadcrumbs" class="breadcrumb"></nav>
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Buen día, {{ user }}</h1>
                </div>
            </div>
        </section>
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div :key="index" class="tile is-parent" v-for="(tile, index) in tiles">
                    <article class="tile is-child box">
                        <p class="title">{{ tile.title }}</p>
                        <p class="subtitle">{{ tile.subtitle }}</p>
                    </article>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Home.vue",
        data() {
            return {
                tiles: []
            }
        },
        created() {
            this.tiles = [
                {
                    title: 'S/ 439',
                    subtitle: 'VENTAS'
                },
            ]
        },
        computed: {
            user() {
                return localStorage.getItem('user');
            }
        },
        methods: {}
    }
</script>

<style scoped>

</style>
