<template>
    <aside class="menu is-hidden-mobile">
        <p class="menu-label"><i class="fas fa-tachometer-alt"></i> General</p>
        <ul class="menu-list">
            <li>
                <router-link to="/home">Inicio</router-link>
            </li>
        </ul>
        <p class="menu-label"><i class="fas fa-boxes"></i> Productos</p>
        <ul class="menu-list">
            <li>
                <router-link to="/productos/listar">Listar</router-link>
            </li>
        </ul>
        <p class="menu-label"><i class="fas fa-file-invoice"></i> Compras</p>
        <ul class="menu-list">
            <li>
                <router-link to="/compras/registrar">Registrar</router-link>
            </li>
            <li>
                <router-link to="/compras/listar">Listar</router-link>
            </li>
        </ul>
        <p class="menu-label"><i class="fas fa-cash-register"></i> Ventas</p>
        <ul class="menu-list">
            <li>
                <router-link to="/ventas/registrar">Registrar</router-link>
            </li>
            <li>
                <router-link to="/ventas/listar">Listar</router-link>
            </li>
        </ul>
        <p class="menu-label"><i class="fas fa-user-friends"></i> Configuración</p>
        <ul class="menu-list">
            <li>
                <router-link to="/configuracion/usuarios">Usuarios</router-link>
            </li>
            <li>
                <router-link to="/configuracion/facturacion">Facturación</router-link>
            </li>
        </ul>
    </aside>
</template>

<script>
    export default {
        name: "NavBar"
    }
</script>

<style scoped>

</style>
