<template>
    <div>
        <h2 class="subtitle is-size-5">Generar reporte</h2>
        <form @submit.prevent="generateReport">
            <div class="columns">
                <div class="column is-3">
                    <div class="field">
                        <input type="radio" value="1" name="report" v-model="method"> Últimos <input type="number" class="input is-small has-max-width-50" min="0" v-model="fromDays" step="1"> días
                    </div>
                </div>
                <div class="column is-8">
                    <date-range @changeDateFrom="onChangeDateFrom" @changeDateTo="onChangeDateTo" @radioSelected="method = 2"></date-range>
                </div>
                <div class="column is-1">
                    <button type="submit" class="button is-small is-primary" :disabled="buttonDisabled">Generar</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import DateRange from "./DateRange";
    let moment = require('moment');
    export default {
        name: "ReportRange",
        props: {
            to: String
        },
        components: {
            DateRange
        },
        data() {
            return {
                method: 0,
                buttonDisabled: true,
                manualRange: {
                    from: {},
                    to: {}
                },
                fromDays: 7
            }
        },
        watch: {
            method() {
                this.buttonDisabled = this.method > 0 ? false : true;
            }
        },
        methods: {
            onChangeDateFrom(date) {
                this.manualRange.from = date;
            },
            onChangeDateTo(date) {
                this.manualRange.to = date;
            },
            generateReport() {
                let data = {}
                if (this.method == 1)
                {
                    let date = moment().subtract(this.fromDays, 'days');
                    let now = moment();
                    data = {
                        from : {
                            year: date.year(),
                            month: parseInt(date.format('M')),
                            day: parseInt(date.format('D')),
                        },
                        to : {
                            year: now.year(),
                            month: parseInt(now.format('M')),
                            day: parseInt(now.format('D')),
                        }
                    };
                }
                else if (this.method == 2)
                {
                    data = this.manualRange;
                }

                let dateFrom = moment(`${data.from.year}-${data.from.month}-${data.from.day}`);
                let dateTo = moment(`${data.to.year}-${data.to.month}-${data.to.day}`);

                if (!dateTo.isAfter(dateFrom))
                {
                    this.$toast.error('Por favor ingrese una fecha válida')
                    return;
                }

                let urlFrom = `fromYear=${data.from.year}&fromMonth=${data.from.month}&fromDay=${data.from.day}`;
                let urlTo = `toYear=${data.to.year}&toMonth=${data.to.month}&toDay=${data.to.day}`;
                let url = `${this.to}?${urlFrom}&${urlTo}`;
                window.open(url, '_blank');
            }
        }
    }
</script>

<style scoped>

</style>
