<template>
    <div>
        <h1 class="title">Lista de usuarios</h1>
        <div class="columns">
            <div class="column is-10"></div>
            <div class="column is-2">
                <modal-update-facturacion></modal-update-facturacion>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th class="has-background-white-ter">#</th>
                        <th class="has-background-white-ter">Inicial</th>
                        <th class="has-background-white-ter">Increment</th>
                        <th class="has-background-white-ter">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr :key="index" v-for="(code, index) in codes">
                        <td>{{ index + 1 }}</td>
                        <td>{{ code.initial }}</td>
                        <td>{{ code.increment }}</td>
                        <td>
                            <div class="buttons are-small">
                                <button class="button is-warning is-rounded">
                                    <span class="icon is-small">
                                        <i class="far fa-edit"></i>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import ModalUpdateFacturacion from "../Components/ModalUpdateFacturacion";

    export default {
        name: "Facturacion",
        components: {
            ModalUpdateFacturacion
        },
        data() {
            return {
                codes: []
            }
        },
        created() {
            axios.get('/api/billing-codes')
                .then(
                    response => {
                        this.codes = response.data.data;
                    }
                )
        }
    }
</script>

<style scoped>

</style>
