<template>
    <div>
        <h1 class="title">Lista de usuarios</h1>
        <div class="columns">
            <div class="column is-10"></div>
            <div class="column is-2">
                <modal-new-user></modal-new-user>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th class="has-background-white-ter">#</th>
                        <th class="has-background-white-ter">Usuario</th>
                        <th class="has-background-white-ter">Email</th>
                        <th class="has-background-white-ter">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr :key="index" v-for="(user, index) in users">
                        <td>{{ index + 1 }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="buttons are-small">
                                <button class="button is-warning is-rounded">
                                    <span class="icon is-small">
                                        <i class="far fa-edit"></i>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import ModalNewUser from "../Components/ModalNewUser";
    export default {
        name: "Users",
        components: {
            ModalNewUser
        },
        data() {
            return {
                users: []
            }
        },
        created() {
            axios.get('/api/users')
                .then(
                    response => {
                        this.users = response.data.data;
                    }
                )
        }
    }
</script>

<style scoped>

</style>
