<template>
    <div>
        <h1 class="title">Detalle de compra</h1>
        <div class="card">
            <div class="card-content">
                <fieldset disabled>
                    <div class="columns">
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">RUC</label>
                                <div class="control">
                                    <input :value="purchase.provider_identity_document" class="input" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Proveedor</label>
                                <div class="control">
                                    <input :value="purchase.provider_name" class="input" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Fecha</label>
                                <div class="control">
                                    <input :value="purchase.date" class="input" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>P. Unit.</th>
                        <th>Sutotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr :key="detail.item" v-for="detail in purchase.details">
                        <td>{{ detail.item }}</td>
                        <td>{{ detail.product_name }}</td>
                        <td>{{ detail.quantity | toPEN }}</td>
                        <td>{{ detail.unit_price | toPEN }}</td>
                        <td>{{ detail.subtotal | toPEN }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "Detail",
        data() {
            return {
                purchase : {}
            }
        },
        computed: {
            ...mapGetters('purchases', ['getPurchaseById'])
        },
        created() {
            axios.get('/api/purchase-documents/' + this.$route.params.id)
                .then(
                    res => {
                        this.purchase = res.data.data;
                    }
                )
        },
        mounted () {
            /*let id = this.$route.params.id;
            this.getPurchase(id);*/
        },
        methods: {
            /*getPurchase(id) {
                this.purchase = this.getPurchaseById(id);
            }*/
        }
    }
</script>

<style scoped>

</style>
