<template>
    <div>
        <h1 class="title is-size-4">Lista de compras</h1>
        <div class="columns">
            <div class="column is-12">
                <report-range :to="'/reportes/compras'"></report-range>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th class="has-background-white-ter">#</th>
                        <th class="has-background-white-ter">Fecha</th>
                        <th class="has-background-white-ter">Proveedor</th>
                        <th class="has-background-white-ter">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr :key="index" v-for="(purchase, index) in completed">
                        <td>{{ index + 1 }}</td>
                        <td>{{ purchase.date }}</td>
                        <td>{{ purchase.provider_name }}</td>
                        <td>
                            <div class="buttons are-small">
                                <router-link class="button is-info is-rounded" :to="`/compras/detalle/${purchase.id}`">
                                    <span class="icon is-small">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </router-link>
                                <button class="button is-warning is-rounded">
                                    <span class="icon is-small">
                                        <i class="far fa-edit"></i>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ReportRange from "../../Shared/ReportRange";

    export default {
        name: "List",
        components: {
            ReportRange
        },
        computed: {
            /*...mapState('purchases', [
                'purchases'
            ]),*/
            ...mapGetters('purchases', [
                'completed'
            ])
        },
        methods: {
            openModal() {
                this.$modal.show('modal');
            }
        }
    }
</script>

<style scoped>

</style>
