<template>
    <div>
        <h1 class="title is-size-4">Registrar compra</h1>
        <form id="formParent" @submit.prevent="savePurchase">
            <div class="card">
                <div class="card-content">
                    <div class="columns has-margin-bottom-5">
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">RUC</label>
                                <input
                                    :class="{
                                        'is-danger':
                                            $v.purchase.provider
                                                .identity_document.$error
                                    }"
                                    class="input"
                                    placeholder="12345678912"
                                    type="text"
                                    v-model.trim="
                                        purchase.provider.identity_document
                                    "
                                />
                            </div>
                        </div>
                        <div class="column is-9">
                            <div class="field">
                                <label class="label">Razón social</label>
                                <input
                                    :class="{
                                        'is-danger':
                                            $v.purchase.provider.name.$error
                                    }"
                                    class="input to-upper"
                                    placeholder="PROVEEDOR"
                                    type="text"
                                    v-model.trim="purchase.provider.name"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="columns has-margin-bottom-5">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">Dirección</label>
                                <input
                                    :class="{
                                        'is-danger':
                                            $v.purchase.provider.address.$error
                                    }"
                                    class="input to-upper"
                                    placeholder="DIRECCIÓN FISCAL"
                                    type="text"
                                    v-model.trim="purchase.provider.address"
                                />
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Documento</label>
                                <input
                                    :class="{
                                        'is-danger': $v.purchase.code.$error
                                    }"
                                    class="input to-upper"
                                    placeholder="FAC000-0000000"
                                    type="text"
                                    v-model.trim="purchase.code"
                                />
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Fecha</label>
                                <input
                                    class="input"
                                    placeholder="DD/MM/YYYY"
                                    type="date"
                                    v-model="purchase.date"
                                    disabled
                                />
                            </div>
                        </div>
                    </div>
                    <search-product @itemSelected="onSelect"></search-product>
                    <div class="columns has-margin-top-15">
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th style="width: 5%">#</th>
                                    <th style="width: 35%">Producto</th>
                                    <th style="width: 10%">Marca</th>
                                    <th style="width: 15%">Lote</th>
                                    <th style="width: 10%">Cantidad</th>
                                    <th style="width: 10%">P. Unit.</th>
                                    <th style="width: 10%">Subtotal</th>
                                    <th style="width: 5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="(item, index) in purchase.items"
                                    :key="index"
                                >
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.brand }}</td>
                                    <td><input type="text" class="input to-upper" v-model.trim="purchase.items[index].lote"></td>
                                    <td>
                                        <input
                                            type="number"
                                            class="input"
                                            min="0"
                                            step="any"
                                            v-model="purchase.items[index].quantity"
                                            @change="updateSubtotal(item)"
                                        />
                                    </td>
                                    <td>
                                        <input
                                            type="number"
                                            class="input"
                                            min="0"
                                            step="any"
                                            v-model="purchase.items[index].unit_price"
                                            @change="updateSubtotal(item)"
                                        />
                                    </td>
                                    <td>{{ item.subtotal | twoDecimals }}</td>
                                    <td>
                                        <button
                                            type="button"
                                            class="button is-danger is-rounded is-small"
                                            @click="onDeleteItem(purchase.items, item)"
                                        >
                                            <span class="icon is-small">
                                                <i class="far fa-trash-alt"></i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <button type="submit" class="button is-primary mt-2">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import {
    maxLength,
    minLength,
    numeric,
    required
} from "vuelidate/lib/validators";
import SearchProduct from "../Components/SearchProduct";

export default {
    name: "Register",
    components: {
        SearchProduct
    },
    data() {
        return {
            purchase: {
                provider: {
                    identity_document: "",
                    name: "",
                    address: ""
                },
                code: "",
                date: new Date().toISOString().slice(0, 10),
                items: []
            }
        };
    },
    validations: {
        purchase: {
            provider: {
                identity_document: {
                    required,
                    numeric,
                    minLength: minLength(11),
                    maxLength: maxLength(11)
                },
                name: {
                    required
                },
                address: {
                    required
                }
            },
            code: {
                required
            },
            items: {
                minLength: minLength(1)
            }
        }
    },
    computed: {

    },
    methods: {
        savePurchase() {
            this.$v.purchase.$touch();

            if (this.$v.purchase.$pending || this.$v.purchase.$error) return;

            axios.post('/api/purchase-documents', {
                provider: this.purchase.provider,
                code: this.purchase.code,
                details: this.purchase.items
            }).then(
                res => {
                    this.$toast.success("La compra se registró correctamente");
                    location.reload();
                }
            ).catch(
                err => {
                    this.$toast.error("Ocurrió un error");
                }
            );
        },
        onSelect(item) {
            let items = this.purchase.items;
            item.quantity = 0;
            item.unit_price = 0;
            item.subtotal = 0;
            item.lote = "";
            items.push(item);
            this.purchase.items = items;
        },
        onDeleteItem(items, item) {
            let index = items.indexOf(item);
            items.splice(index, 1);
        },
        updateSubtotal(item) {
            item.subtotal = parseFloat(item.quantity) * parseFloat(item.unit_price);
        }
    }
};
</script>

<style scoped></style>
