<template>
    <form @submit.prevent="setNewProduct">
        <div class="columns">
            <div class="column">
                <div class="field is-fullwidth">
                    <label class="label">Código</label>
                    <div class="control">
                        <input :class="{ 'is-danger' : $v.product.code.$error }" class="input to-upper"
                               placeholder="NOMBRE DEL PRODUCTO"
                               type="text"
                               v-model="product.code">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field ">
                    <label class="label">Marca</label>
                    <div class="control">
                        <div class="is-fullwidth">
                            <v-select :options="$store.state.brands.brands" :taggable="true" v-model="product.brand"></v-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Categoría</label>
                    <div class="control">
                        <div class="is-fullwidth">
                            <v-select :options="$store.state.categories.categories" :taggable="true"
                                      v-model="product.category"></v-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Laboratorio</label>
                    <div class="control">
                        <div class="is-fullwidth">
                            <v-select :options="$store.state.laboratories.laboratories" :taggable="true"
                                      v-model="product.laboratory"></v-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-four-fifths">
                <div class="field">
                    <label class="label">Nombre</label>
                    <div class="control">
                        <input :class="{ 'is-danger' : $v.product.name.$error }" class="input to-upper"
                               placeholder="NOMBRE DEL PRODUCTO"
                               type="text"
                               v-model="product.name">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Unidad de medida</label>
                    <div class="control">
                        <div class="is-fullwidth">
                            <v-select :options="$store.state.measureUnits.measureUnits" :taggable="true"
                                      v-model="product.measure_unit"></v-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Descripción</label>
                </div>
                <div class="control">
                    <textarea :class="{ 'is-danger' : $v.product.description.$error }" class="textarea to-upper" placeholder="DESCRIPCIÓN DEL PRODUCTO"
                              rows="2"
                              v-model.trim="product.description"></textarea>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Composición</label>
                </div>
                <div class="control">
                    <textarea class="textarea to-upper" placeholder="COMPOSICIÓN DEL PRODUCTO" rows="2"
                              v-model.trim="product.composition"></textarea>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-9"></div>
            <div class="column is-3 ">
                <button class="button" type="reset">Cancelar</button>
                <button class="button align-items-end is-link" type="submit">Cargar</button>
            </div>
        </div>
    </form>
</template>

<script>
    import {mapState} from 'vuex'
    import {brands} from '../../Brands/Store'
    import {categories} from '../../Categories/Store'
    import {laboratories} from '../../Laboratories/Store'
    import {measureUnits} from '../../MeasureUnits/Store'
    import {required} from 'vuelidate/lib/validators'
    import 'vue-select/dist/vue-select.css'
    import vSelect from 'vue-select'

    export default {
        name: "NewProduct",
        components: {
            vSelect
        },
        data() {
            return {
                product: {
                    id: 0,
                    code: '',
                    name: '',
                    description: '',
                    composition: '-',
                    brand: '-',
                    category: '-',
                    laboratory: '-',
                    measure_unit: '',
                }
            }
        },
        created() {
            this.$store.dispatch("brands/getBrands");
            this.$store.dispatch("categories/getCategories");
            this.$store.dispatch("laboratories/getLaboratories");
            this.$store.dispatch("measureUnits/getMeasureUnits");
            this.product = {
                id: 0,
                code: '',
                name: '',
                description: '',
                composition: '-',
                brand: '-',
                category: '-',
                laboratory: '-',
                measure_unit: '',
            };
        },
        validations: {
            product: {
                code: {required},
                name: {required},
                measure_unit: {required},
                description: {required}
            }
        },
        computed: {
            ...mapState('brands', ['brands']),
            ...mapState('measureUnits', ['measureUnits']),
            ...mapState('categories', ['categories']),
            ...mapState('laboratories', ['laboratories']),
        },
        methods: {
            setNewProduct() {
                this.$v.product.$touch();
                if (this.$v.product.$pending || this.$v.product.$error)
                    return;
                this.$emit('itemSelected', this.product);
            }
        },
    }
</script>

<style scoped>

</style>
