<template>
    <div>
        <div class="tabs has-margin-bottom-15">
            <ul>
                <li :class="{'is-active': mode === 'search' }"><a @click="modeSearch">Buscar</a></li>
                <li :class="{'is-active': mode === 'register' }"><a @click="modeRegister">Nuevo</a></li>
            </ul>
        </div>
        <div class="columns" v-if="mode === 'search'">
            <div class="column is-12">
                <model-list-select :custom-text="nameAndDescription" :list="products"
                                   option-value="id"
                                   placeholder="Buscar producto"
                                   v-model="product"
                ></model-list-select>
            </div>
        </div>
        <new-product @itemSelected="itemSelected" v-else></new-product>
    </div>
</template>

<script>
    import {ModelListSelect} from 'vue-search-select'
    import {mapState} from 'vuex'
    import {products} from "../../Products/Store";
    import NewProduct from "./NewProduct";

    export default {
        name: "SearchProduct",
        components: {
            ModelListSelect, NewProduct
        },
        data() {
            return {
                product: {},
                mode: 'search'
            }
        },
        computed: {
            ...mapState('products', ['products'])
        },
        methods: {
            nameAndDescription(item) {
                return `${item.name} - ${item.description}`;
            },
            modeSearch() {
                this.mode = "search";
            },
            modeRegister() {
                this.mode = "register";
            },
            itemSelected(product) {
                this.product = product;
                this.mode = "search";
            }
        },
        watch: {
            product() {
                this.$emit('itemSelected', this.product);
            }
        }
    }
</script>

<style scoped>

</style>
