<template>
    <div>
        <h1 class="title is-size-4">Lista de ventas</h1>
        <div class="columns">
            <div class="column is-12">
                <report-range :to="'/reportes/ventas'"></report-range>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th class="has-background-white-ter">#</th>
                        <th class="has-background-white-ter">Fecha</th>
                        <th class="has-background-white-ter">Cliente</th>
                        <th class="has-background-white-ter">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr :key="index" v-for="(sale, index) in sales">
                        <td>{{ index + 1 }}</td>
                        <td>{{ sale.created_at }}</td>
                        <td>{{ sale.client_name }}</td>
                        <td>
                            <div class="buttons are-small">
                                <router-link class="button is-info is-rounded" :to="`/compra/detalle/${sale.id}`">
                                    <span class="icon is-small">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </router-link>
                                <button class="button is-warning is-rounded">
                                    <span class="icon is-small">
                                        <i class="far fa-edit"></i>
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import ReportRange from "../../Shared/ReportRange";

    export default {
        name: "List",
        components: {
          ReportRange
        },
        data() {
            return {
                sales: []
            }
        },
        created() {
            axios.get('/api/sale-documents').then(
                res => {
                    this.sales = res.data.data;
                }
            );
        }
    }
</script>

<style scoped>

</style>
