<template>
    <div>
        <h1 class="title">Registrar venta</h1>
        <form @submit.prevent="">
            <div class="card">
                <div class="card-content">
                    <div class="columns has-margin-bottom-5">
                        <div class="column is-3">
                            <div class="field">
                                <label class="label">Documento</label>
                                <input class="input" placeholder="DOCUMENTO DEL CLIENTE" type="text" v-model="client.identity_document">
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label class="label">Cliente</label>
                                <input class="input" placeholder="NOMBRES O RAZÓN SOCIAL" type="text" v-model="client.name">
                            </div>
                        </div>
                        <div class="column is-5">
                            <div class="field">
                                <label class="label">Dirección</label>
                                <input class="input" placeholder="DIRECCIÓN DEL CLIENTE" type="text" v-model="client.address">
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            <model-list-select :custom-text="nameAndDescription" :list="products"
                                               option-value="id"
                                               placeholder="Buscar producto"
                                               v-model="product"
                            ></model-list-select>
                        </div>
                    </div>
                    <div class="columns has-margin-top-15">
                        <table class="table is-fullwidth">
                            <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 40%">Producto</th>
                                <th style="width: 20%">Marca</th>
                                <th style="width: 10%">Cantidad</th>
                                <th style="width: 10%">P. Unit.</th>
                                <th style="width: 10%">Subtotal</th>
                                <th style="width: 5%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr :key="index" v-for="(item, index) in items">
                                <td>{{ index + 1 }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.brand }}</td>
                                <td><input type="number" class="input" min="0" step="any" v-model="item.quantity"></td>
                                <td><input type="number" class="input" min="0" step="any" v-model="item.unit_price"></td>
                                <td>{{ item.subtotal | twoDecimals}}</td>
                                <td>
                                    <button class="button is-danger is-rounded is-small" @click="onDeleteItem(item)">
                                        <span class="icon is-small">
                                            <i class="far fa-trash-alt"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <p><strong>Total: </strong> S/ {{ getTotal | twoDecimals }}</p>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <button class="button is-primary mt-2" @click="saveSale">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {ModelListSelect} from 'vue-search-select'
    import {mapState} from 'vuex'
    import {products} from "../../Products/Store";

    export default {
        name: "Register",
        components: {
            ModelListSelect
        },
        data() {
            return {
                client: {
                    identity_document: '',
                    name: '',
                    addres: ''
                },
                product: {},
                items: [],
                isDefault: true
            }
        },
        computed: {
            getTotal(){
                if (this.items.length === 0) {
                    return 0;
                } let total = 0;
                return this.items
                        .map(item => item.subtotal)
                        .reduce(
                            (total, subtotal) =>
                                total + subtotal
                        );
            },
            ...mapState('products', ['products'])
        },
        methods: {
            nameAndDescription(item) {
                return `${item.name} - ${item.description}`;
            },
            onSelect(){
                this.product.quantity = 0;
                this.product.unit_price = 0;
                this.product.subtotal = 0;
                this.items.push(this.product);
            },
            onDeleteItem(item){
                let index = this.items.indexOf(item);
                this.items.splice(index, 1);
            },
            onClickDefault() {

            },
            saveSale() {
                for (let i = 0; i < this.items.length; i++) {
                    if (this.items[i].quantity > this.items[i].in_stock) {
                        this.$toast.error(`No hay suficiente stock para el producto: ${this.items[i].name}`);
                        return;
                    }
                }

                axios.post('/api/sale-documents', {
                    client: this.client,
                    details: this.items
                }).then(
                    res => {
                        this.$toast.success("La venta se registró correctamente");
                        location.reload();
                    }
                ).catch(
                    error => {
                        this.$toast.error("Ocurrió un error al registrar la venta");
                    }
                );
            }
        },
        watch: {
            product() {
                this.onSelect();
            },
        }
    }
</script>

<style scoped>

</style>
