<template>
    <router-view></router-view>
</template>

<script>
    export default {
        name: "Purchases",
        created() {
            this.$store.dispatch("ownerDocuments/getOwnerDocuments");
            this.$store.dispatch("purchases/getPurchases");
        }
    }
</script>

<style scoped>

</style>
