<template>
    <router-view></router-view>
</template>

<script>
    export default {
        name: "Products",
        created() {
            this.$store.dispatch("products/getProducts");
        }
    }
</script>

<style scoped>

</style>
