<template>
    <div>
        <h1 class="title is-size-4">Lista de productos</h1>
        <div class="columns">
            <div class="column is-10"></div>
            <div class="column is-2 align-items-end">
                <a href="/reportes/productos" class="button is-small is-primary is-block" target="_blank">
                    <i class="fas fa-download has-margin-right-10"></i> Generar reporte
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th class="has-background-white-ter" style="width: 5%">#</th>
                        <th class="has-background-white-ter" style="width: 10%">Marca</th>
                        <th class="has-background-white-ter" style="width: 10%">Categoría</th>
                        <th class="has-background-white-ter" st      yle="width: 35%">Nombre</th>
                        <th class="has-background-white-ter" style="width: 30%">Descripción</th>
                        <th class="has-background-white-ter" style="width: 15%">En stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr :key="index" v-for="(product, index) in products">
                        <td>{{ index + 1 }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.in_stock }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: "List",
        computed: {
            ...mapState('products', ['products'])
        },
        methods: {
        }
    }
</script>

<style scoped>

</style>
